* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4em;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0;
}

#render {
  width: 100vw;
  height: 100vh;
}

canvas {
  display: block;
}
